---
title: Varisty Code
---
<header class="intro">
  <div id="landing-header">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-5">
        <h1>
          After School Coding Program
        </h1>
        <h5>
          Ages 14-18
        </h5>
        <h5>
          April 4, 2018 - June 20, 2018
        </h5>
        <h5>
          Classes Held at Salt Lake Community College in Sandy
        </h5>
        <button class="btn btn-lg btn-primary">
          <%= link_to "Register Now", "https://varsitycode.herokuapp.com" %>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="secondary-background">
  <section id="valuable-tech-skills" class="container-fluid wow fadeIn">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h2>Gain Valuable Technical Skills</h2>
        <h4>The average software developer makes <a href="http://www.indeed.com/salary?q1=software+developer&l1=" id="salary_link">$95,000 per year</a></h4>
        <p class="bigger">Learning web development is the first step on that journey. The sooner you get started, the sooner you'll be able to help direct the ditial age.</p>
      </div>
    </div>
  </section>
</div>

<section id="about" class="container-fluid wow fadeIn">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <div class="row">
        <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".09">
          <div class="icon-header text-center">
            <%= image_tag "basics.svg" %>
          </div>
          <h4 class="text-center">Learn Web Development</h4>
          <p>The web isn't as hard as you think. We'll show you how to craft the technologies of HTML and CSS so your stduent can start building their own websites.</p>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <div class="icon-header text-center">
            <%= image_tag "resume.svg" %>
          </div>
          <h4 class="text-center">Build Your Technical Resume</h4>
          <p>The technical job market is more interested in what you can actually build than a GPA or a certificate. The best technical resume isn't a piece of paper. It's a website on the internet, and after this class you'll have 12 of them.</p>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".8s">
          <div class="icon-header text-center">
            <%= image_tag "dream.svg" %>
          </div>
          <h4 class="text-center">Build Your Dream Website</h4>
          <p>The capstone project of this course will be a website of your chosing. You choose the project, and we'll give you the guidance to help you build it.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="secondary-background">
  <section id=modern-skills" class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <br /><br /><br />
        <h2>Be Inspired. Learn. Build.</h2>
        <p>Your student wont just learn valueable technical skills, they will be empowered to build the next iteration of the digital age. Each class will include a highlight of technical/business visionaries like Margaret Hamilton, Kevin Systrom, Katrina Lake, Bill Gates, and Steve Jobs.</p>
        <p>These technical pioneers were no smarter than your student when they got their start. Often all it takes is a spark of inspiration and the right educational outlet to realize how feasible it is to shape the future.</p>
      </div>
      <div class="col-md-offset-1 col-md-2">
        <%= image_tag "Margaret_Hamilton.jpg", class: "img-thumbnail" %>
        <p>Margaret Hamilton in 1969, standing next to the navigation software that she and her MIT team produced for the Apollo project</p>
        <%= image_tag "kevin-systrom.jpg", class: "img-thumbnail" %>
        <p>Kevin Systrom, was only able to start Instragram because he started coding in High School.</p>
      </div>
      <div class="col-md-2">
        <br />
        <br />
        <%= image_tag "Bill-Gates.jpg", class: "img-thumbnail" %>
        <p>Bill Gates, the founder of Microsoft, was only able to start his defining company because he started learning to code as an 8th grade student.</p>
        <%= image_tag "Katrina-Lake.png", class: "img-thumbnail" %>
        <p>Katrina Lake started her company Stitch Fix by combining her love of fashion with technology.</p>
      </div>
    </div>
  </section>
</div>

<!-- Action2 Section -->
<section id="jobs-quote-mobile" class="action3 container-fluid text-center visible-xs-block">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-left">
      <p class="jobs-quote">
        Everything around you that you call life was made up by people that were no smarter than you and you can change it, you can influence it, you can build your own things that other people can use.
      </p>
      <p class="jobs-quote">- Steve Jobs</p>
    </div>
  </div>
</section>

<div id="jobs-background">
  <section id="jobs-quote-large" class="action3 container-fluid text-center hidden-xs">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <div class="big-quote col-md-offset-7 col-md-1">
            "
          </div>
          <div class="col-sm-4 text-left">
            <p class="jobs-quote">
              Everything around you that you call life was made up by people that were no smarter than you and you can change it, you can influence it, you can build your own things that other people can use.
            </p>
            <p class="jobs-quote">- Steve Jobs</p>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </section>
</div>

<!-- Services Section -->
<div class="secondary-background">
  <section id="course-details" class="container-fluid text-left wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Course Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <h4>What is tuition for this course?</h4>
          <p>Tuition is $40 a week, which includes:</p>
          <ul>
            <li>Lectures taught by professional software developers</li>
            <li>Weekly homework/project review conducted by the instructors</li>
            <li>Instructor email availability for questions on projects and assignments</li>
          </ul>
          <p>Tuition will be billed on a monthly basis.</p>
        </div>
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".4s">
          <h4>What is the format of each class?</h4>
          <p>Once a week, we will meet for 1 hour and 45 mintues to meet in a lecture/lab setting. Classes are held at Salt Lake Community College's Sandy Campus.</p>
          <p>Though each week's format will vary depending on the needs of the class, a typical session will look like this:</p>
          <ul>
            <li>Review the previous week's assignment and answer any questions from previous concepts (15 minutes)</li>
            <li>Interactive lectures where technical concepts will be taught. Students will follow along on their own personal computers (1 hour)</li>
            <li>Open lab and one-on-one mentoring (30 minutes)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <h4>Will there be homework?</h4>
          <p>The goal of our course isn't a grade, but growth. </p>
          <p>We give students assignments and projects to do between classes that allow them to be creative, have fun, and enjoy learning how to build their own sites.</p>
        </div>
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".4s">
          <h4>What pre-requisites do you recommend?</h4>
          <p>The biggest pre-requisite is enthusiasm. The biggest indicator for success is an excitement about the course itself. If you are excited about learning to code or creating your own website
          you will be primed to succeed.</p>
          <p>Technically speaking, a basic understanding of comptuers is expected: students should be familiar with how to use the internet and create files and folders.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".4s">
          <h4>Do I have to bring my own computer?</h4>
          <p>
            Yes, you will need to bring a personal laptop computer to each class. We will help your student setup their computer in class so they can have the tools to build at home.
          </p>
        </div>
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <h4>What type of computer will I need to participate?</h4>
          <p>Any (laptop) PC, Mac, or Linux  that has wifi and a browser.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <h4>How big is each class?</h4>
          <p>
            Ther are 25 students per class. Students will be asked to work with a lab partner each week. Lab partners are similar in age, which allows each lab group to progress at a rate they are comfortable with.</p>
        </div>
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".4s">
          <h4>My student loved their experience! Do you offer any more courses?</h4>
          <p>
          You know it! After this foundational course, we'll be offering more advanced web classes for those wanting to continue on.
          </p>
          <p>Enrolled students will have the first chance to reserve a spot for those classes.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wow fadeIn" data-wow-delay=".2s">
          <h4>How can I see what my student has learned?</h4>
          <p>
            At the end of each course, students will have the opportunity to present their capstone websites in an auditorium setting to anyone they would like to attend. We'd love to have you see what they have built at the end of the course.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Action2 Section MailChimp Signup Form -->
<section id="instructors" class="container-fluid text-left wow fadeIn">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Instructor</h2>
      <%= image_tag "nelson.jpg", class: "nelson-pic img-thumbnail" %>
      <h3>Nelson Wittwer</h3>

			<div class="row">
				<div class="text-left col-lg-6 col-lg-offset-3">
					<p>
					While Nelson studied Management Information Systems in college, his tech career
					really began when he was 16 when he started coding websites of his own.
					</p>
					<p>
					Nelson has worked as a senior technical consultant for Ernst & Young, advising Fortune 500 companies. From there he went on to
					work at MX building online/mobile banking software; he was the CTO of Orca Health, where he helped build mobile apps for
					orthopedic surgeons; and he is a software engineer at Nuvi analyzing tens of millions of social media mentions on a daily basis.
					</p>
          <p>
            His software is used daily by millions of people.
          </p>
					<p>
					Nelson is the proud father of three young children and is counting down the days until he can teach them how to code.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="secondary-background">
  <section id="pre-register-footer" class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Enroll For Spring Quarter</h3>
        <p>
          Channel your student's love for technology into skills that will change their life.
        </p>
        <button class="btn btn-lg btn-primary">
          <%= link_to "Register Now", "https://varsitycode.herokuapp.com" %>
        </button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>Can't Make It This Spring?</h3>
        <p>No problem! Sign up to be waitlisted for the Summer or Fall Quarter.</p>

        <br />
        <br />
        <br />
        <div class="row">
          <div class="col-sm-offset-2 col-sm-4">
            <h5>Summer Quarter Courses:</h5>
            <p>July 25 - October 3</p>
            <br />
            <p>Web Development 1</p>
            <p>Web Development 2</p>
            <br />
            <button class="btn btn-lg btn-primary">
              <%= link_to "Join Waitlist", "https://varsitycode.herokuapp.com/waitlist" %>
            </button>
          </div>
          <div class="col-sm-4">
            <h5>Fall Quarter Courses:</h5>
            <p>October 10 - December 19</p>
            <br />
            <p>Web Development 1</p>
            <p>Web Development 2</p>
            <p>Web Development 3</p>
            <br />
            <button class="btn btn-lg btn-primary">
              <%= link_to "Join Waitlist", "https://varsitycode.herokuapp.com/waitlist" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

